<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <aop:aspectj-autoproxy/>

	<bean id="kenny3" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="instrument"/>
	</bean>

	<bean class="com.springinaction.springidol.ContestantIntroducer"/>

	<bean id="instrument" class="com.springinaction.springidol.Saxophone" />

	<bean id="audience" class="com.springinaction.springidol.annotation.Audience"></bean>
	
	<bean id="magician" class="com.springinaction.springidol.Magician"/>
	
	<bean id="think" class="com.springinaction.springidol.Volunteer"></bean>
	
	<aop:config>
		<!-- <aop:aspect ref="audience">
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="takeSteats"/>
			
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="turnOffCellPhones"/>

			<aop:after-returning pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="applaud"/>
			
			<aop:after-throwing pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="demandRefund"/>
		</aop:aspect> -->
		
		<!-- <aop:aspect ref="audience">
			<aop:pointcut expression="execution(* com.springinaction.springidol.Performer.perform(..))" 
			id="performance"/>
			
			<aop:before method="takeSteats" pointcut-ref="performance"/>
			<aop:before method="turnOffCellPhones" pointcut-ref="performance"/>
			<aop:after-returning method="applaud" pointcut-ref="performance"/>
			<aop:after-throwing method="demandRefund" pointcut-ref="performance"/>
			
		</aop:aspect> -->
		
	<!-- 	<aop:aspect ref="audience">
			<aop:pointcut expression="execution(* com.springinaction.springidol.Performer.perform(..))" 
			id="performance2"/>
			
			<aop:around method="watchPerformance" pointcut-ref="performance2"/>
			
		</aop:aspect>

		<aop:aspect ref="magician">
			<aop:pointcut expression="execution(*
			com.springinaction.springidol.Thinker.thinkOfSomething(String)) and args(thoughts)" 
			id="thinking"/>
			
			<aop:before 
				pointcut-ref="thinking"
				method="interceptThoughts"
				arg-names="thoughts"/>
		</aop:aspect>	 -->
		
<!-- 		<aop:aspect>
			<aop:declare-parents 
			types-matching="com.springinaction.springidol.Performer+" 
			implement-interface="com.springinaction.springidol.Contestant"
			default-impl="com.springinaction.springidol.GraciousContestant"
			/>
		</aop:aspect>	 -->
	</aop:config>
</beans>