<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-init-method="turnOnLights" default-destroy-method="turnOffLights"
	default-autowire="byType">

	<!-- 注入 Bean 属性 byName自动装配 -->
	<bean id="kenny3" class="com.springinaction.springidol.Instrumentalist"
		autowire="byName">
		<property name="song" value="Jingle Bells" />
	</bean>

	<!-- 注入 Bean 属性 byType自动装配 -->
	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist"
		autowire="byType">
		<property name="song" value="Jingle Bells" />
	</bean>

	<bean id="instrument" class="com.springinaction.springidol.Saxophone" />
	<bean id="piano" class="com.springinaction.springidol.Piano"
		autowire-candidate="false" />

	<!-- 构造器中多个参数的注入 -->
	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler"
		autowire="constructor">
	</bean>

	<bean id="duke" class="com.springinaction.springidol.PoeticJuggler"
		autowire="constructor">
		<constructor-arg ref="MyMotherLand" />
	</bean>

	<bean id="MyMotherLand" class="com.springinaction.springidol.MyMotherLand"></bean>
	
	<bean id="audience" class="com.springinaction.springidol.Audience"></bean>

	<aop:config>
		<aop:aspect ref="audience">
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="takeSeats"/>
			
			<aop:before pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="turnOffCellPhones"/>

			<aop:after-returning pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="appuld"/>
			
			<aop:after-throwing pointcut="execution(* com.springinaction.springidol.Performer.perform(..))" 
			method="demandRefund"/>
		</aop:aspect>
	</aop:config>

</beans>